@import './functions';

.aboutMeSection {
    background-color: $background;
    min-height: 80vh;
    padding-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
        h2 {
            padding: 20px 0;
            text-align: center;
        }
            .aboutMeContainer {
                padding: 20px 0;
                display: flex;
            }
                .aboutMeImage {
                    width: 35%;
                    margin-right: 50px;
                        img {
                            box-shadow: -10px -10px $accent;
                        }
                }
                .aboutMeParas {
                    width: 65%;
                    text-align: left;
                    align-self: center;
                    font-size: 1.2rem;
                    letter-spacing: 0.2px;
                        a {
                            color: $accent;
                        }
                }
}