
.contactContainer {
    display: flex;
    padding-top: 40px;
    font-size: 1.2rem;
    min-height: 60vh;
        .contactDetails {
            width: 40%;
            margin-right: 20px;
                h4 {
                    margin-top: 0;
                }
        }
        .contactIconsContainer {
            a {
                transition: color 0.25s ease-out;
                    &:hover,
                    &:focus {
                        color: $accent;
                    }
                &::after {
                    width: 0;
                    height: 0;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            width: 60%;
                input, 
                textarea,
                button {
                    border: 1px solid $accent;
                    margin: 5px 0;
                }
                input {
                    padding: 5px 0;
                }
                textarea {
                    resize: none;
                }
                button {
                    padding: 10px;
                    align-self: flex-start;
                    cursor: pointer;
                }
        }
}
