
.contactContainer {
    display: flex;
    padding-top: 40px;
    font-size: 1.2rem;
    min-height: 60vh;
        .contactDetails {
            width: 40%;
            margin-right: 20px;
                h4 {
                    margin-top: 0;
                }
        }
        .contactIconsContainer {
            ul {
                justify-content: flex-start;
                    li {
                        margin-right: 15px;
                        a {
                            transition: color 0.25s ease-out;
                                &:hover,
                                &:focus {
                                    color: $accent;
                                }
                            &::after {
                                width: 0;
                                height: 0;
                            }
                        }
                    }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            width: 60%;
                input, 
                textarea,
                button {
                    border: 1px solid $accent;
                    border-radius: 5px;
                    margin: 5px 0;
                }
                input {
                    padding: 5px 8px;
                }
                textarea {
                    resize: none;
                    padding: 5px 8px;
                }
                button {
                    padding: 10px;
                    align-self: flex-start;
                    cursor: pointer;
                    background-color: white;
                }
        }
}
