@media (prefers-reduced-motion: reduce) {
 .arrowDown {
     animation-name: bounce;
 }
 .h1Container h1 {
     animation-name: glow;
 }
}

 @media (max-width: 780px) {
    .aboutMeSection {
        .aboutMeContainer {
            display: block;
                .aboutMeImage {
                    width: 75%;
                }
                .aboutMeParas {
                    width: 100%;
                    text-align: right;
                }
        }
    }
    .projectContainer {
        padding: 50px 0;
        flex-direction: column;
        h3 {
            font-size: 1.3rem;
        }
            .projectContainerRight {
                flex-direction: column;
                    .projectImage,
                    .projectDescription {
                        width: 100%;
                            p {
                                font-size: 0.9rem;
                            }
                    }
            }
            .projectContainerLeft {
                flex-direction: column-reverse;
                    .projectImage {
                        display: flex;
                        justify-content: center;
                    }
                        img {
                            max-height: 300px;
                        }
                    .projectDescription {
                        width: 100%;
                            p {
                                font-size: 0.9rem;
                            }
                    }
            }
    }
    
    .projectImage,
    .projectDescription {
        width: 100%;
            p {
                font-size: 0.9rem;
            }
        }
    .contactDetails {
        p {
            font-size: 0.9rem;
        }
    }
    }

 @media (max-width: 700px){
     .mainNav {
         display: none;
     }
    .mobileMenuButton {
        display: block;
    }
     .h1Container {
         h1 {
             font-size: 1.8rem;
             line-height: 50px;
             padding: 30px;
         }
     }

     .successMessage {
         text-align: center;
         span {
             display: block;
         }
     }

 }

@media (max-width: 480px) {
    .techStack .myTechStack {
        display: none;
    }
    header {
        height: 90vh;
            .h1Container {

                    h1 {
                        font-size: 1rem;
                        line-height: 40px;
                    }
            }
            .arrowDown {
                display: none;
            }
    }

    h2,
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .mobileTechStack {
        display: flex;
        flex-wrap: wrap;
    }
    .contactContainer {
        flex-direction: column;
            .contactDetails {
                width: 100%;
                margin: 0;
            }
            .contactForm {
                width: 100%;
            }
    }
}

@media (max-width: 350px) {
    header {

        .h1Container {
            h1 {
            font-size: 1rem;
        }
    }
    }
}