@import './functions';

.projectsHeader {
    text-align: center;
    padding-top: 40px;
}

.projectContainer {
    padding: 20px 0 30px 0;
    min-height: 60vh;
}
.projectImage,
.projectDescription {
    width: 50%;
}
.projectContainerRight {
    display: flex;
    align-items: center;
    min-height: 60vh;
    width: 100%;
        .projectImage {
            align-self: center;
                img {
                    max-height: 450px;
                }
        }
        .projectDescription {
                h3 {
                    text-align: left;
                }
                p {
                    font-size: 1.2rem;
                }
                h4 {
                    text-align: right;
                }
                ul {
                    display: flex;
                    justify-content: end;
                        li {
                            margin-left: 10px;
                            transition: color 0.2s ease-in-out;
                                &:hover,
                                &:focus {
                                    color: $accent;
                                }
                        }
                        a {
                            margin: 0 10px
                        }
                }
        }
}

.projectContainerLeft {
    display: flex;
    align-items: center;
    min-height: 60vh;
    width: 100%;
        .projectImage {
            display: flex;
            justify-content: center;
            align-self: center;
            width: 35%;
                img {
                    max-height: 450px;
                }
        }
        .projectDescription {
            width: 65%;
                h3 {
                    text-align: center;
                }
                p {
                    font-size: 1.2rem;
                }
                h4 {
                    text-align: right;
                }
                ul {
                    display: flex;
                    justify-content: end;
                    
                        li {
                            margin-left: 10px;
                            transition: transform 0.2s ease-in-out;
                                &:hover,
                                &:focus {
                                    transform: scale(1.2);
                                }
                        }
                        a {
                            margin: 0 10px
                        }
                }
        }
}

.fullbleedGrey {
    background-color: $background;
}

.jsScroll {
    opacity: 0;
    transition: opacity 500ms;
}

.jsScroll.scrolled {
    opacity: 1;
}

.scrolled.slideLeft {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slideRight {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
