@import './functions';

.projectsHeader {
    text-align: center;
    padding-top: 40px;
}

.fullbleedGrey {
    background-color: $background;
}



.projectContainer {
    padding: 20px 0 30px 0;
    min-height: 60vh;
        .projectContainerRight,
        .projectContainerLeft {
            display: flex;
            align-items: center;
            min-height: 60vh;
                .projectImage {
                    width: 50%;
                    align-self: center;
                        img {
                            max-height: 450px;
                        }
                }
                .projectDescription {
                    width: 50%;
                        h3 {
                            text-align: left;
                        }
                        h4 {
                            text-align: right;
                        }
                        ul {
                            display: flex;
                            justify-content: flex-end;
                                li {
                                    margin-left: 10px;
                                    transition: color 0.2s ease-in-out;
                                        &hover,
                                        &focus {
                                            color: $accent;
                                        }
                                        a {
                                            margin: 0 10px;
                                        }
                                }
                        }
                }
        }

}
.projectContainerLeft {
        .projectImage {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        .projectDescription {
            width: 65%;
        }
}
}

.jsScroll {
    opacity: 0;
    transition: opacity 500ms;
}

.jsScroll.scrolled {
    opacity: 1;
}

.scrolled.slideLeft {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slideRight {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
