
.resumeContainer {
    height: 90vh;
    background-color: #ebecf0;
    display: flex;
    align-items: center;
        img {

            border: 2px solid #b8abcb;
            margin: 0 auto;
        }
}