@import './functions';

.techStack {
    padding-bottom: 10vh;
        h2 {
            text-align: center;
            padding-bottom: 20px;
        }
        .myTechStack {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 150px;
                    height: 150px;
                    border: 2px solid $accent;
                    border-radius: 25px;
                    margin: 10px 20px;
                    padding: 20px;
                        p {
                            margin: 0;
                        }
                }
        }
}

.mobileTechStack {
    display: none;

    justify-content: center;
    li {
        width: 110px;
        height: 110px;
        border: 2px solid $accent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 10px;
            p {
                font-size: 0.8rem;
                line-height: 0;

            }
    }
}