@import './functions';

.techStack {
    height: 40vh;
        h2 {
            text-align: center;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
                li {
                    border: 2px solid $accent;
                    border-radius: 25px;
                    margin: 10px 20px;
                    padding: 20px;
                }
        }
}