@import './functions';

html {
    font-size: 125%;
    font-family: $font;
    color: #000;
}

.wrapper {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

h1, 
h2, 
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    text-align: center;
        span {
            display: block;
        }
}

h2,
h3 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
}
p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    position: relative;
    color: black;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $accent;
            transform-origin: center;
            transition: transform 0.25s ease-out;
        }
            &:hover::after,
            &:focus::after {
                transform: scaleX(1);
                transform-origin: center;
            }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.jsScroll {
    opacity: 0;
    transition: opacity 500ms;
}

.jsScroll.scrolled {
    opacity: 1;
}

.scrolled.slideLeft {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slideRight {
    animation: slide-in-right 1s ease-in-out both;
}

.scrolled.slideUp {
    animation: slideUp 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}