@import './partials/setup';
@import './partials/typographyAndGeneral';
@import './partials/projects';
@import './partials/aboutMe';
@import './partials/techStack';
@import './partials/nav';
@import './partials/contactForm';
@import './partials/footer';
@import './partials/resume';



header {
  height: 95vh;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background-size: cover;

        button {
            display: block;
            font-size: 2rem;
            position: absolute;
            bottom: 25px;
            right: 50%;
            background: none;
            border: none;
            cursor: pointer;
            animation: bounce 1.5s infinite linear;
            color: #bc13fe
        }
        @keyframes bounce {
            0% {
                top: 90%;
            }
            50% {
                top: 87%;
            }
            70% {
                top: 88%;
            }
            100% {
                top: 90%;
            }
        }
}

.h1Container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
        h1 {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 30px 45px;
            border: 2px solid $accent;
            animation: glow 1.5s ease-out infinite alternate;
            box-shadow: 0 0 10px rgba(188, 19, 254, .2), inset 0 0 10px rgba(188, 19, 254, .1), 0 5px 0 #fff;
        }
            @keyframes glow {
                0% {
                    border-color: #a00498;
                    box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1)
                }
                100% {
                    border-color: #bc13fe;
                    box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4); 
              }
 
        
    }
}

.ashleyCodes {
  
        position: relative;
        margin-left: 10%;


    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 5px;
        width: 25%;
        height: 25%;
        background-color: $accent;
        
    }
}




// .ashleyCodes {
//                     &::after {
//                     content: '';
//                     width: 50px;
//                     height: 3px;
//                     background: #bc13fe;
//                     display: block;
//                 }
// }
