@import './partials/setup';
@import './partials/typographyAndGeneral';
@import './partials/projects';



header {
  height: 95vh;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background-size: cover;

        button {
            display: block;
            font-size: 2rem;
            position: absolute;
            bottom: 25px;
            right: 50%;
            background: none;
            border: none;
            cursor: pointer;
            animation: bounce 1.5s infinite linear;
            color: #bc13fe
        }
        @keyframes bounce {
            0% {
                top: 90%;
            }
            50% {
                top: 87%;
            }
            70% {
                top: 88%;
            }
            100% {
                top: 90%;
            }
        }
}

.h1Container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
        h1 {
            background-color: white;
            border-radius: 10px;
            padding: 30px 45px;
            animation: flicker 1.5s infinite ease-in-out;
        }
            @keyframes flicker {
                100% {
                    box-shadow: 
                        0 0 10px #fff,
                        0 0 10px #fff,
                        0 0 15px $accent,
                        0 0 20px $accent,
                        0 0 25px $accent,
                        0 0 30px $accent,
                        0 0 35px $accent,
                        0 0 40px $accent,
                        0 0 50px $accent
                        inset 0 0 20px $accent; 
              }
              0% {
                  box-shadow: 
                        0 0 5px #fff,
                        0 0 5px #fff,
                        0 0 10px $accent,
                        0 0 15px $accent,
                        0 0 20px $accent,
                        0 0 25px $accent,
                        inset 0 0 20px $accent;         
                }   
              }
        
    }

.navContainer {
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
        p {
            width: 50%;
        }
        nav {
            width: 100%;
        }
            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                    li {
                        list-style: none;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                            a {
                                text-decoration: none;
                                color: black;
                                transition: border-bottom .3s;
                                &:hover,
                                &:focus
                                 {
                                    border-bottom: 2px solid #bc13fe;
                                }
                            }
                    }
            }
}

.ashleyCodes {
                    &::after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #bc13fe;
                    display: block;
                }
}
