html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Questrial", sans-serif;
  color: #000;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
}
h1 span {
  display: block;
}

h2,
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  position: relative;
  color: black;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bc13fe;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
a:hover::after, a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.mainNav {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
ul li {
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.mobileNav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #ebecf0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobileNav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-18%) skew(-16deg);
          transform: translateX(-18%) skew(-16deg);
  width: 0;
}
.mobileNav ul li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  -webkit-transform: skew(16deg);
          transform: skew(16deg);
}

.mobileNavIsOpen {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}
.mobileNavIsOpen ul li a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobileNav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background-color: rgba(188, 19, 254, 0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: skew(-14deg) translateX(-120%);
          transform: skew(-14deg) translateX(-120%);
  translate: all 0.25s 0.1s;
}

.mobileNavIsOpen::before {
  -webkit-transform: skew(-14deg) translateX(0);
          transform: skew(-14deg) translateX(0);
}

.mobileMenuButton {
  display: none;
  color: #bc13fe;
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 200;
  background: none;
  border: 0;
  cursor: pointer;
}
.mobileMenuButton ::after,
.mobileMenuButton ::before {
  content: "";
  display: block;
  height: 100%;
  background: #ebecf0;
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}
.mobileMenuButton ::after {
  -webkit-transform: translateY(-12px) translateX(-2px) skew(-20deg);
          transform: translateY(-12px) translateX(-2px) skew(-20deg);
}
.mobileMenuButton ::before {
  -webkit-transform: translateY(-16px) skew(-10deg);
          transform: translateY(-16px) skew(-10deg);
}

.skipLink {
  position: absolute;
  top: -40px;
  left: 5px;
  z-index: 999;
  background: white;
  color: black;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}

.skipLink:focus {
  top: 10px;
}

header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background-size: cover;
}
header .arrowDown {
  display: block;
  font-size: 2rem;
  position: absolute;
  bottom: 100px;
  right: 50%;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-animation: bounce 1.5s infinite linear;
          animation: bounce 1.5s infinite linear;
  color: #bc13fe;
}
@-webkit-keyframes bounce {
  0% {
    top: 85%;
  }
  50% {
    top: 82%;
  }
  70% {
    top: 83%;
  }
  100% {
    top: 85%;
  }
}
@keyframes bounce {
  0% {
    top: 85%;
  }
  50% {
    top: 82%;
  }
  70% {
    top: 83%;
  }
  100% {
    top: 85%;
  }
}

.h1Container {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h1Container h1 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 30px 45px;
  border: 2px solid #bc13fe;
  -webkit-animation: glow 1.5s ease-out infinite alternate;
          animation: glow 1.5s ease-out infinite alternate;
  -webkit-box-shadow: 0 0 10px rgba(188, 19, 254, 0.2), inset 0 0 10px rgba(188, 19, 254, 0.1), 0 5px 0 #fff;
          box-shadow: 0 0 10px rgba(188, 19, 254, 0.2), inset 0 0 10px rgba(188, 19, 254, 0.1), 0 5px 0 #fff;
}
@-webkit-keyframes glow {
  0% {
    border-color: #a00498;
    -webkit-box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
            box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
  }
  100% {
    border-color: #bc13fe;
    -webkit-box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
            box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
  }
}
@keyframes glow {
  0% {
    border-color: #a00498;
    -webkit-box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
            box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
  }
  100% {
    border-color: #bc13fe;
    -webkit-box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
            box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
  }
}

.aboutMeSection {
  background-color: #ebecf0;
  min-height: 80vh;
  padding-top: 10vh;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutMeSection h2 {
  padding: 20px 0;
  text-align: center;
}
.aboutMeSection .aboutMeContainer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutMeSection .aboutMeImage {
  width: 35%;
  margin-right: 50px;
}
.aboutMeSection .aboutMeImage img {
  -webkit-box-shadow: -10px -10px #bc13fe;
          box-shadow: -10px -10px #bc13fe;
}
.aboutMeSection .aboutMeParas {
  width: 65%;
  text-align: left;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
}
.aboutMeSection .aboutMeParas a {
  color: #bc13fe;
}
.aboutMeSection .aboutMeParas .italics {
  font-style: italic;
}

.techStack {
  padding-bottom: 10vh;
}
.techStack h2 {
  text-align: center;
  padding-bottom: 20px;
}
.techStack .myTechStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.techStack .myTechStack li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  margin: 10px 20px;
  padding: 20px;
}
.techStack .myTechStack li p {
  margin: 0;
}

.mobileTechStack {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobileTechStack li {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
}
.mobileTechStack li p {
  font-size: 0.8rem;
  line-height: 0;
}

.projectsHeader {
  text-align: center;
  padding-top: 40px;
}

.fullbleedGrey {
  background-color: #ebecf0;
}

.projectContainer {
  padding: 20px 0 30px 0;
  min-height: 60vh;
}
.projectContainer .projectContainerRight,
.projectContainer .projectContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}
.projectContainer .projectContainerRight .projectImage,
.projectContainer .projectContainerLeft .projectImage {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}
.projectContainer .projectContainerRight .projectImage img,
.projectContainer .projectContainerLeft .projectImage img {
  max-height: 450px;
}
.projectContainer .projectContainerRight .projectDescription,
.projectContainer .projectContainerLeft .projectDescription {
  width: 50%;
}
.projectContainer .projectContainerRight .projectDescription h3,
.projectContainer .projectContainerLeft .projectDescription h3 {
  text-align: left;
}
.projectContainer .projectContainerRight .projectDescription a,
.projectContainer .projectContainerLeft .projectDescription a {
  color: #bc13fe;
}
.projectContainer .projectContainerRight .projectDescription h4,
.projectContainer .projectContainerLeft .projectDescription h4 {
  text-align: right;
}
.projectContainer .projectContainerRight .projectDescription ul,
.projectContainer .projectContainerLeft .projectDescription ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projectContainer .projectContainerRight .projectDescription ul li,
.projectContainer .projectContainerLeft .projectDescription ul li {
  margin-left: 10px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.projectContainer .projectContainerRight .projectDescription ul lihover, .projectContainer .projectContainerRight .projectDescription ul lifocus,
.projectContainer .projectContainerLeft .projectDescription ul lihover,
.projectContainer .projectContainerLeft .projectDescription ul lifocus {
  color: #bc13fe;
}
.projectContainer .projectContainerRight .projectDescription ul li a,
.projectContainer .projectContainerLeft .projectDescription ul li a {
  margin: 0 10px;
}

.projectContainerLeft .projectImage {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectContainerLeft .projectImage .projectDescription {
  width: 65%;
}

.jsScroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.jsScroll.scrolled {
  opacity: 1;
}

.scrolled.slideLeft {
  -webkit-animation: slide-in-left 1s ease-in-out both;
          animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slideRight {
  -webkit-animation: slide-in-right 1s ease-in-out both;
          animation: slide-in-right 1s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  font-size: 1.2rem;
  min-height: 60vh;
}
.contactContainer .contactDetails {
  width: 40%;
  margin-right: 20px;
}
.contactContainer .contactDetails h4 {
  margin-top: 0;
}
.contactContainer .contactIconsContainer ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contactContainer .contactIconsContainer ul li {
  margin-right: 15px;
}
.contactContainer .contactIconsContainer ul li a {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
.contactContainer .contactIconsContainer ul li a:hover, .contactContainer .contactIconsContainer ul li a:focus {
  color: #bc13fe;
}
.contactContainer .contactIconsContainer ul li a::after {
  width: 0;
  height: 0;
}
.contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.contactContainer form input,
.contactContainer form textarea,
.contactContainer form button {
  border: 1px solid #bc13fe;
  border-radius: 5px;
  margin: 5px 0;
}
.contactContainer form input {
  padding: 5px 8px;
}
.contactContainer form textarea {
  resize: none;
  padding: 5px 8px;
}
.contactContainer form button {
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}

footer {
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {
  .arrowDown {
    -webkit-animation-name: bounce;
            animation-name: bounce;
  }

  .h1Container h1 {
    -webkit-animation-name: glow;
            animation-name: glow;
  }
}
@media (max-width: 780px) {
  .aboutMeSection .aboutMeContainer {
    display: block;
  }
  .aboutMeSection .aboutMeContainer .aboutMeImage {
    width: 75%;
  }
  .aboutMeSection .aboutMeContainer .aboutMeParas {
    width: 100%;
    text-align: right;
  }

  .projectContainer {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContainer h3 {
    font-size: 1.3rem;
  }
  .projectContainer .projectContainerRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContainer .projectContainerRight .projectImage,
.projectContainer .projectContainerRight .projectDescription {
    width: 100%;
  }
  .projectContainer .projectContainerRight .projectImage p,
.projectContainer .projectContainerRight .projectDescription p {
    font-size: 0.9rem;
  }
  .projectContainer .projectContainerLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectContainer .projectContainerLeft .projectImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectContainer .projectContainerLeft img {
    max-height: 300px;
  }
  .projectContainer .projectContainerLeft .projectDescription {
    width: 100%;
  }
  .projectContainer .projectContainerLeft .projectDescription p {
    font-size: 0.9rem;
  }

  .projectImage,
.projectDescription {
    width: 100%;
  }
  .projectImage p,
.projectDescription p {
    font-size: 0.9rem;
  }

  .contactDetails p {
    font-size: 0.9rem;
  }
}
@media (max-width: 700px) {
  .mainNav {
    display: none;
  }

  .mobileMenuButton {
    display: block;
  }

  .h1Container h1 {
    font-size: 1.8rem;
    line-height: 50px;
    padding: 30px;
  }

  .successMessage {
    text-align: center;
  }
  .successMessage span {
    display: block;
  }
}
@media (max-width: 480px) {
  .techStack .myTechStack {
    display: none;
  }

  header {
    height: 90vh;
  }
  header .h1Container h1 {
    font-size: 1rem;
    line-height: 40px;
  }
  header .arrowDown {
    display: none;
  }

  .projectContainer h3 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .mobileTechStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
  }
  .contactContainer .contactDetails {
    width: 100%;
    margin: 0;
  }
  .contactContainer .contactForm {
    width: 100%;
  }
  .contactContainer .contactForm input {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  header .h1Container h1 {
    font-size: 1rem;
  }
}
.successOuter {
  height: 95vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(./../assets/jon-tyson-v_BgAXQ2hjw-unsplash.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.successMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 30px 45px;
  border: 2px solid #bc13fe;
  -webkit-animation: glow 1.5s ease-out infinite alternate;
          animation: glow 1.5s ease-out infinite alternate;
  -webkit-box-shadow: 0 0 5px rgba(188, 19, 254, 0.2), inset 0 0 5px rgba(188, 19, 254, 0.1), 0 3px 0 #fff;
          box-shadow: 0 0 5px rgba(188, 19, 254, 0.2), inset 0 0 5px rgba(188, 19, 254, 0.1), 0 3px 0 #fff;
}
@keyframes glow {
  0% {
    border-color: #a00498;
    -webkit-box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
            box-shadow: 0 0 50px 25px rgba(160, 4, 152, 0.2), inset 0 0 20px 15px rgba(160, 4, 152, 0.1);
  }
  100% {
    border-color: #bc13fe;
    -webkit-box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
            box-shadow: 0 0 50px 25px rgba(188, 19, 254, 0.6), inset 0 0 15px 10px rgba(188, 19, 254, 0.4);
  }
}
.successMessage button {
  background-color: none;
  border: 1px solid #bc13fe;
  -ms-flex-item-align: center;
      align-self: center;
}